
<nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">Routing</a>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/index']">Home</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/contact']">Contact</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/about']">About</a>
      </li>
      <li routerLinkActive="active">
          <a [routerLink]="['/products']">Products</a>
      </li>
    </ul>
  </nav>