.red{
    color: red;
}
.blue{
    color: blue;
}
.border-blue{
    border: 1px solid blue;
}
.pd-10{
    padding: 10px;
}
.container {
    width: 100vw;
    min-height: 200px;
    text-align: center;
    box-sizing: border-box;
}