<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Template reference variable
  </h1>
  <div class="container" [style.margin-top.px]="30">
    <div class="row">
      
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Template Ref</h3>
            </div>
            <div class="panel-body">
              <input type="text" class="form-control" #txtName>
              <button (click)="getData(txtName.value)" [style.margin-top.px]="30" type="button" class="btn btn-danger">Get Data</button>
              <button (click)="onGetData()" [style.margin-top.px]="30" type="button" class="btn btn-success">Get Data</button>
            </div>
        </div>
        
      </div>
      
    </div>
  </div>

<router-outlet></router-outlet>
