<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Atrribute Directive
  </h1>

  <div class="container">
    <div 
      [ngClass]="['border-blue','pd-10','red']"
    >
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, quisquam.
    </div>
  </div>

  <br>
  <h1>
      Atrribute Directive with condition
    </h1>
  
    <div class="container">
      <div 
        [ngClass]="{
            'border-blue': isEnabledClasses,
            'pd-10': isEnabledClasses,
            'red': isEnabledClasses
        }"
      >
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, quisquam.
      </div>
      <button (click)="onToggleStyle()">Toggle Style</button>
    </div>

    <h1>
      Atrribute Directive with render in typescript
    </h1>
  
    <div class="container">
      <div 
        [ngClass]="setClasses()"
      >
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, quisquam.
      </div>
    </div>
<router-outlet></router-outlet>
