
<div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Danh Sách Phim</h3>
    </div>
    <div class="panel-body">
      
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Link</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies; let i = index">
            <td>{{i+1}}</td>
            <td>{{movie.name}}</td>
            <td><img width="68px" height="20px" src="{{ movie.link }}" alt=""></td>
            <td>{{ movie.author}}</td>
          </tr>
        </tbody>
      </table>
      
    </div>
</div>
