
<div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Child Component</h3>
    </div>
    <div class="panel-body">
      name: {{ userInfo.name}} <br>
      age: {{ userInfo.age}} <br>
      gender: {{ userInfo.gender}} <br>
      married: {{ userInfo.married ? 'Married' : 'Single'}} <br>
      Author : {{ author }} <br>
      Score: {{ score }}
    </div>
    
    <form role="form">
      <legend></legend>
    
      <div class="form-group">
        <label for="">Full Name:</label>
        <input 
          type="text"
          class="form-control"
          placeholder="Input field"
          [(ngModel)]="txtFullName"
          [ngModelOptions]="{standalone: true}"
        >
      </div>
      <div>
        <label for="">Phone:</label>
          <input 
            type="number"
            class="form-control"
            placeholder="Input field"
            [(ngModel)]="txtPhone"
            [ngModelOptions]="{standalone: true}"
          >
      </div>
      <button type="submit" (click)="onSubmitForm()" class="btn btn-primary">Submit</button>
    </form>
    
</div>
